  <head>
    <title>My first VR site</title>
    <script src="https://aframe.io/releases/latest/aframe.min.js"></script>
  </head>
  <body>
    <a-scene>
      <a-camera position="0 1.8 4" cursor-visible="true" cursor-scale="5" cursor-color="red" cursor-offset="2" cursor-maxdistance="100" cursor-opacity="0.9"></a-camera>
      <a-cube></a-cube>
    </a-scene>
  </body>