  <head>
    <title>My first VR site</title>
    <script src="https://aframe.io/releases/latest/aframe.min.js"></script>
  </head>
  <body>
    <div class='score'>
      Score: 0
    </div>
    <div class='scene'>
      <a-scene>
        <a-camera position="0 1.8 4" cursor-visible="true" cursor-scale="5" cursor-color="teal" cursor-offset="2" cursor-maxdistance="100" cursor-opacity="0.9"></a-camera>
        <a-entity 
          position="3 0 0"
          id="cube" 
          geometry="primitive: box" 
          material="color: green">
        </a-entity>
        <a-entity 
          position="0 0 0"
          id="cube" 
          geometry="primitive: box" 
          material="color: blue">
        </a-entity>
        <a-entity 
          position="-3 0 0"
          id="cube" 
          geometry="primitive: box" 
          material="color: cyan">
        </a-entity>
      </a-scene>
    </div>
  </body>

  <script src = '/newapp.js'></script>